################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/sav
/emuera.log
/Emuera1824+v13+EEv7plus.bat
